body {
    background-image: url("../images/header-shapes\ mobile.png");
    background-color: #FFFFFF;
}
.nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
}
.menu {
    width: 30px;
    height: 4px;
    background-color: #ACB7C3;
    margin: 6px 0;
    margin-right: 20px;
}
.logo {
    font-family: Poppins;
    font-weight: 700;
    color: #6070FF;
}
.greeting {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    font-family: Poppins;
    color: #172B4D;
    font-weight: 700;
    padding-left: 30px;
    justify-content: left;
    margin-top: 100px;
}
.para {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Poppins;
    font-weight: 400;
    color: #344563;
    padding-left: 30px;
}
.soc {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #7F8CFF;
    padding-left: 30px;
}
.social{
    display: flex;
    margin-right: 0.5em;
    padding: 1em;
    list-style: none;
}
.a:hover {
    background-color: red;
}
/*the second class of socials */
.maria {
    margin-right: 1em;
}
.twitter {
    margin-left: 15px;
}
/*the third class of socials */